*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-size: 14px;
    font-weight: normal;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 12px;
}
/* header */
#header{
    height: 98px;
}
#header h1{
    display: block;
    width: 1130px;
    margin: 0 auto;
}

/* banner */
#banner {
    height: 588px;
    background: url(../images/login-img/banner.jpg) no-repeat center;
}
#banner .banner-con{
    width: 1130px;
    height: 588px;
    margin: 0 auto;
}
#banner .login-register{
    width: 348px;
    height: 494px;
    float: right;
    background-color: #fff;
    margin: 32px 0;
    padding: 30px 31px 0 31px;
}

/* banner的登录选项 */
#banner header{
    width: 348px;
    height: 28px;
}
#banner span{
    display: block;
    width: 173px;
    height: 28px;
    float: left;
    text-align: center;
    font-size: 23px;
    color: #666666;
    line-height: 28px;
}
#banner .header>span:first-child{
    color: #ef5b00;
    cursor: pointer;
    border-right: 1px solid #e0e0e0;
}
#banner .header>span:last-child {
    cursor: pointer;
    border-left: 1px solid #e0e0e0;
}
#banner .header>span:last-child:hover{
    color: #ef5b00;
}
/*****************账号登录******************/
#banner form{
    /* display: none; */
}
#banner form input{
    outline: none;
    width: 318px;
    height: 50px;
    border: 1px solid #e0e0e0;
    margin: 7px 0;
    padding: 0 14px;
}
#banner input.username{
    margin-top: 27px;
}
#banner button{
    width: 348px;
    height: 50px;
    background-color: #ef5b00;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border: 0;
    margin-bottom: 13px;
    line-height: 50px; 
    cursor: pointer;
}
#banner input::-webkit-input-placeholder{
    font-size: 12px;
    color: #969696;
}
#banner a.loginTel{
    line-height: 12px;
    font-size: 12px;
    color: #ef5b00;
    float: left;
}
#banner form > p{
    float: right;
    line-height: 12px;
    font-size: 12px;
    color: #999999;
}
#banner form p > a{
    cursor: pointer;
    color: #999999;
}
#banner form p > a:hover{
    color: #ef5b00;
}
#banner form fieldset{
    margin-top: 132px;
    width: 272px;
    text-align: center;
    border: 0;
    border-top:1px solid #ececec;
    padding: 0 38px;
}
#banner form .othLogin{
    line-height: 12px;
    font-size: 12px;
    color: #bbbbbb;
}
/* 其他登录方式 */
#banner form fieldset .icon{
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 50%;
    margin: 16px 19px;
}
/* qq */
#banner form fieldset .icon.qq{
    background-color:  #0288d1;
    cursor: pointer;
}
#banner form fieldset .icon.qq a{
    display: inline-block;
    margin: 5px 0;
    width: 19px;
    height: 19px;
    background: url(../images/login-img/icons_type.png) no-repeat -19px center;
}
/* 微博 */
#banner form fieldset .icon.weibo{
    background-color: #d32f2f;
    cursor: pointer;
}
#banner form fieldset .icon.weibo a{
    display: inline-block;
    margin: 5px 0;
    width: 19px;
    height: 19px;
    background: url(../images/login-img/icons_type.png) no-repeat -38px center;
}
/* 支付宝 */
#banner form fieldset .icon.pay{
    background-color: #0288d1;
    cursor: pointer;
}
#banner form fieldset .icon.pay a{
    display: inline-block;
    margin: 5px 0;
    width: 24px;
    height: 19px;
    background: url(../images/login-img/icons_type.png) no-repeat -57px center;
}
/* 微信 */
#banner form fieldset .icon.weChat{
    cursor: pointer;
    background: #00d20d url(../images/login-img/icons_type.png) no-repeat -81px center;
}




/*******************扫码登录**************** */
#banner .loginEwm{
    display: none;
    text-align: center;
    width: 348px;
}
#banner .loginEwm .imgEwm{
    margin: 128px 0 22px 0;
    clear: both;
}
#banner .loginEwm p{
    line-height: 12px;
    margin-bottom: 6px; 
    color: #757575;
}
#banner .loginEwm p a{
    color: #ff6700;
}

/* footer */
#footer{
    position: relative;
    padding-top: 70px;
    height: 78px;
}
#footer ul{
    color: #867598;
    width: 1130px;
    text-align: center;
    margin: 0 auto;
}
#footer ul li{
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 12px;
    line-height: 14px;
    margin: 0 10px;
    color: #757575;
}
#footer ul li:nth-child(1){
    color: #333333;
}
#footer ul li a:hover{
    color: #333333;
}
#footer ul p{
    /* position: absolute; */
    margin: 10px auto;
    bottom: 31px;
    line-height: 12px;
    clear: left;
}
#footer ul a{
    color: #757575;
}