*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-size: 14px;
    font-weight: normal;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 14px;
}
/* header */
#header{
    height: 98px;
}
#header h1{
    display: block;
    width: 1130px;
    margin: 0 auto;
}

/* banner */
#banner {
    height: 588px;
    background: url(../images/login-img/banner.jpg) no-repeat center;
}
#banner .banner-con{
    width: 1130px;
    height: 588px;
    margin: 0 auto;
}
#banner form{
    width: 348px;
    height: 494px;
    float: right;
    background-color: #fff;
    margin: 32px 0;
    padding: 30px 31px 0 31px;
}

/* banner的登录选项 */
#banner header{
    width: 348px;
    height: 28px;
}
#banner span{
    display: block;
    width: 173px;
    height: 28px;
    float: left;
    text-align: center;
    font-size: 23px;
    color: #666666;
    line-height: 28px;
}
#banner .header>span:first-child{
    color: #ef5b00;
    cursor: pointer;
    border-right: 1px solid #e0e0e0;
}
#banner .header>span:last-child {
    cursor: pointer;
    border-left: 1px solid #e0e0e0;
}
#banner .header>span:last-child:hover{
    color: #ef5b00;
}
#banner form input{
    outline: none;
    width: 318px;
    height: 50px;
    border: 1px solid #e0e0e0;
    margin: 7px 0;
    padding: 0 14px;
}
#banner input.username{
    margin-top: 27px;
}
#banner button{
    width: 348px;
    height: 50px;
    background-color: #ef5b00;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border: 0;
    margin-bottom: 13px;
    line-height: 50px; 
    cursor: pointer;
}
#banner input::-webkit-input-placeholder{
    font-size: 14px;
    color: #969696;
}
#banner a.loginTel{
    line-height: 14px;
    font-size: 14px;
    color: #ef5b00;
    float: left;
}
#banner form > p{
    float: right;
    line-height: 14px;
    font-size: 14px;
    color: #999999;
}
#banner form p > a{
    cursor: pointer;
    color: #999999;
}
#banner form p > a:hover{
    color: #ef5b00;
}
#banner form fieldset{
    margin-top: 132px;
    width: 272px;
    text-align: center;
    border: 0;
    border-top:1px solid #ececec;
    padding: 0 38px;
}
#banner form .othLogin{
    line-height: 14px;
    font-size: 14px;
    color: #bbbbbb;
}
#banner form fieldset .icon{
    width: 30px;
    height: 30px;
    float: left;
    margin: 16px 19px;
}
#banner form fieldset .icon.qq{
    border-radius: 50%;
    background: #0288d1 url(../images/login-img/icons_type.png) no-repeat -13px center;
}



