*{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-size: 12px;
    font-weight: normal;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: #f9f9f9;
}
#main{
    width: 854px;
    height: 548px;
    margin: 61px auto;
    background: #fff;
}
#main h1{
    width: 49px;
    height: 48px;
    margin: 0 auto;
}
#main h3{
    margin-top: 48px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
}

#main .register-table .regbox{
    clear: both;
    width: 332px;
    margin: 0 auto;
    margin-top: 30px;
    line-height: 20px;
}

/* name */
#main .register-table .regbox form .name{
    width: 332px;
    height: 100px;
}

#main .register-table .regbox form h4{
    padding-bottom: 5px;
    font-size: 14px;
    color: #333;
    font-weight: normal;
}
#main .register-table .regbox form input{
    padding-left: 20px;
    width: 310px;
    height: 40px;
    outline: none;
    border: 1px solid #e8e8e8;
}
#main .register-table .regbox form p{
    display: none;
    font-size: 14px;
    margin-left: 10px;
    color: #ff6700;
}

/* pass */

#main .register-table .regbox form .pass{
    width: 332px;
    height: 100px;
}
#main .register-table .regbox button{
    width: 330px;
    height: 42px;
    border: 0;
    background: #ff6700;
    color: #fff;
    text-align: center;
    line-height: 42px;
    font-size: 14px;
    /* margin-bottom: 80px; */
}
#main .register-table .regbox button:hover{
    opacity: 0.7;
}

#main .register-table .tip{
    margin-top: 80px;
    font-size: 14px;
    color: #9d9d9d;
    margin-left: 230px;
}
#main .register-table .tip .tip-con{
    /* display: block; */
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #e8e8e8;
}
#main .register-table .tip i{
    /* display: none; */
    cursor: pointer;
    color: #ff6700;
    margin-right: 5px;
}
/* #main .register-table .tip{
    float: left;
} */
#main .register-table .tip a{
    color: #333;
    font-weight: 900;
    text-decoration: none;
}

/* footer */
#footer{
    text-align: center;
}
#footer ul{
    width: 854px;
    margin: 0 auto;
    text-align: center;
}
#footer .footer-nav li{
    font-size: 14px;
    color: #757575;
    display: inline-block;
}
#footer .footer-nav li a{
    color: #757575;
    font-size: 14px;
}
#footer p{
    font-size: 14px;
    color: #9d9d9d;
    margin-top: 15px;
}
#footer p a{
    color: #9d9d9d;
}
#footer .footer-nav li a:hover{
    color: #333;
}