*{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-size: 12px;
    font-weight: normal;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: #f9f9f9;
}
#main{
    width: 854px;
    height: 548px;
    margin: 61px auto;
    background: #fff;
}
#main h1{
    width: 49px;
    height: 48px;
    margin: 0 auto;
}
#main h3{
    margin-top: 48px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
}

#main .register-table .regbox{
    clear: both;
    width: 332px;
    margin: 0 auto;
    margin-top: 30px;
    line-height: 20px;
}
#main .register-table .regbox h4{
    padding-bottom: 5px;
    font-size: 14px;
    color: #333;
    font-weight: normal;
}
#main .register-table .regbox .countryInput{
    height: 40px;
    padding-left: 14px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #e8e8e8;
    color: #555;
    cursor: pointer;
}

#main .register-table .regbox .countryList{
    display: none;
    overflow: auto;
    position: absolute;
    background: #fff;
    width: 330px;
    height: 200px;
    border: 1px solid #e8e8e8;
    border-top: 0;
}
#main .register-table .regbox .countryList input{
    width: 276px;
    height: 35px;
    margin: 14px;
    padding-left: 9px;
    outline: none;
}
#main .register-table .regbox .countryList li{
    cursor: pointer;
    padding-left: 14px;
    height: 40px;
    font-size: 14px;
    border-top: 1px solid #e8e8e8;
    line-height: 40px;
}
#main .register-table .regbox .countryList li:hover{
    background: #ccc;
}
#main .register-table .regbox .result-select{
    float: left;
    width: 275px;
    border-right: 1px solid #e8e8e8;
    cursor: pointer;
}
#main .register-table .regbox .countryInput span{
    float: right;
    width: 40px;
    height: 40px;
    text-align: center;
}
#main .register-table .regbox .countryInput span i{
    font-size: 20px;
    color: #e8e8e8;
    vertical-align: 50px;
}
#main .register-table .regbox .country-text{
    margin-top: 4px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #333;
}
#main .register-table .regbox .phoneNumInput{
    position: relative;
    width: 328px;
    height: 90px;
}
#main .register-table .regbox .phoneNumInput .phonewrap{
    cursor: pointer;
    float: left;
    line-height: 40px;
    padding-left: 9px;
    width: 70px;
    height: 40px;
    border: 1px solid #e8e8e8;
    border-right: 0;
}
#main .register-table .regbox .phoneNumInput .phonewrap p{
    float: left;
    font-size: 14px;
}
#main .register-table .regbox .phoneNumInput .phonewrap i{
    float: left;
    margin: 17px 0 0 15px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #9d9d9d transparent transparent transparent;
}
#main .register-table .regbox .phoneNumInput .inpNum{
    width: 237px;
    height: 40px;
    border: 1px solid #e8e8e8;
    outline: none;
    padding-left: 9px;
    float: right;
}
#main .register-table .regbox .prompt{
    display: none;
    font-size: 14px;
    color: #ff6700;
}
#main .register-table .regbox .prompt i{
    vertical-align: -1px;
    margin-right: 5px;
}

#main .register-table .regbox .phoneList{
    position: absolute;
    top: 42px;
    display: none;
    overflow: auto;
    position: absolute;
    background: #fff;
    width: 328px;
    height: 200px;
    border: 1px solid #e8e8e8;
    border-top: 0;
}
#main .register-table .regbox .phoneList li{
    cursor: pointer;
    padding-left: 14px;
    height: 40px;
    font-size: 14px;
    border-top: 1px solid #e8e8e8;
    line-height: 40px;
}
#main .register-table .regbox .phoneList li:hover{
    background: #ccc;
}
#main .register-table .regbox .phoneList input{
    width: 276px;
    height: 35px;
    margin: 14px;
    padding-left: 9px;
    outline: none;
}



#main .register-table .regbox button{
    width: 330px;
    height: 42px;
    border: 0;
    background: #ff6700;
    color: #fff;
    text-align: center;
    line-height: 42px;
    font-size: 14px;
    /* margin-bottom: 80px; */
}
#main .register-table .regbox button:hover{
    opacity: 0.7;
}

#main .register-table .tip{
    margin-top: 80px;
    font-size: 14px;
    color: #9d9d9d;
    margin-left: 230px;
}
#main .register-table .tip .tip-con{
    /* display: block; */
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #e8e8e8;
}
#main .register-table .tip i{
    /* display: none; */
    cursor: pointer;
    color: #ff6700;
    margin-right: 5px;
}
/* #main .register-table .tip{
    float: left;
} */
#main .register-table .tip a{
    color: #333;
    font-weight: 900;
    text-decoration: none;
}

/* footer */
#footer{
    text-align: center;
}
#footer ul{
    width: 854px;
    margin: 0 auto;
    text-align: center;
}
#footer .footer-nav li{
    font-size: 14px;
    color: #757575;
    display: inline-block;
}
#footer .footer-nav li a{
    color: #757575;
    font-size: 14px;
}
#footer p{
    font-size: 14px;
    color: #9d9d9d;
    margin-top: 15px;
}
#footer p a{
    color: #9d9d9d;
}